
.changepasswordbox{
    width :99vw;
    padding-bottom:5rem;
}

.changepasswordpage{
    width: 99vw;
    height:1000px;
	display:flex;
    justify-content: center;
}
.changepassword_home:hover{
	color:var(--mocha);
}
.changepassword_home{
	color:var(--dark);
}
.brandtext{
	margin-top: 2rem;
	font-size: 50px;
	display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.form-group{  
	margin-bottom:0.3rem;
}
.form-control{
	width : 200px;
	height : 30px;
	font-size : 15px;
}
.inputbox{
	width : 99vw;
	display:flex;
	justify-content: center;
	align-items: center;
}
.input_center{
	width : 200px;
	display:flex;
}

.btn{
	margin-top:0.5rem;
	background-color: var(--mocha);
	color: white;
	width : 200px;
	height : 30px;
    font-size : 15px;
	padding-top: 0.1rem !important;
}

.btn:hover {
	background-color: var(--dark);
	color: white;
}

.error_box{
	display:flex;
	justify-content: center;
}

label {
    color: red !important;
    font-size: 12px;
    margin-top: 2px;
    display: block !important; 
}





@media screen and (min-width: 768px){
  
.changepasswordbox{
    width : 450px;
    padding-bottom:5rem;
}

.changepasswordpage{
    width: 99vw;
		align-items: center;
}

.brandtext{
	font-size: 40px;
    padding-top: 2rem;
}

.form-control{
	width : 350px;
	height : 50px;
}
.inputbox{
	width : 450px;
}
.input_center{
	width : 350px;
	display:flex;
}

.btn{
	width : 350px;
	height : 50px;
	margin-top: 0.75rem;
}

label {
    font-size: 14px;
    margin-top: 2px;

}
}
  @media screen and (min-width: 1024px){
.changepasswordbox{
 border: 2px solid  var(--dark);
     padding-bottom : 3rem;
}
.changepasswordpage{
    align-items: center;
}
}