.findpasswordbox{
    width :99vw;
    padding-bottom:5rem;
}

.findpasswordpage{
    width: 99vw;
    height:1000px;
	display:flex;
    justify-content: center;
}
.findpassword_home:hover{
	color:var(--mocha);
}
.findpassword_home{
	color:var(--dark);
}
.findpassword_regi{
	font-weight: bold;
    color:var(--mocha);
}
.brandtext{
	margin-top: 2rem;
	font-size: 50px;
	display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.form-control{
    margin-bottom:0.3rem;
	width : 200px;
	height : 30px;
	font-size : 15px;
}
.inputbox{
	width : 99vw;
	display:flex;
	justify-content: center;
	align-items: center;
}
.input_center{
	width : 200px;
	display:flex;
}

.btn{
	margin-top:0.5rem;
	background-color: var(--mocha);
	color: white;
	width : 200px;
	height : 30px;
    font-size : 15px;
	padding-top: 0.1rem !important;
}

.btn:hover {
	background-color: var(--dark);
	color: white;
}
.input_name{
	margin : 0;
	font-size : 15px;
}
.boxcenter{
    display:flex;
    justify-content: center;	
}
.move_regi:hover{
		color:var(--dark);
}
.error_box{
	display:flex;
	justify-content: center;
}

label {
    color: red !important;
    font-size: 14px;
    margin-top: 2px;
    display: block !important; 
}




@media screen and (min-width: 768px){
  .findpasswordbox{
    width : 450px;
padding-bottom:5rem;
}

.findpasswordpage{
    width: 99vw;
		align-items: center;
}

.brandtext{

	font-size: 40px;
    padding-top: 2rem;
}
.form-control{
	width : 350px;
	height : 40px;
}
.inputbox{
	width : 450px;

}
.input_center{
	width : 350px;
	display:flex;
}
.id_result{
	width : 250px;
	height : 100px;
}
.btn{
	width : 350px;
	height : 40px;
	margin-top: 0.75rem;
}


.input_name{
	margin : 0;
	font-size : 16px;
}
.logmn{
		font-size : 20px;
}
.logmn:hover{
	color :var(--dark) !important;
}
.findpassword_menu{
	width : 350px;
	padding : 0;
}
.result_findid{
	font-size : 18px;
	margin : 0 !important;
}
.regi{
	font-size : 14px !important;
}


label {
    font-size: 14px;
    margin-top: 2px;
}
}
@media screen and (min-width: 1024px){
  .findpasswordbox{
    border : 2px solid  var(--dark);
        padding-bottom : 3rem;
}
}