
.mypage{
	height : auto;
    display: flex;
        justify-content:flex-start;
            flex-direction: column;
}
.mymenu{
	width : 60%;
    display: flex;

    justify-content: center;
    margin : 0 auto; 
   padding-bottom: 2rem;
}

.myPageContent{
    padding-bottom: 3rem;
    width : 99%;
    margin: 0 auto;
}
.accordion{
	width :99%;
}
.accordion-button{
	width : 100%;
	display: flex;
    justify-content: center;
}
.accordion-header{
	color : white;
	width : 100%;
}
.accordion-body{
	width : 99%;
}

.accordion-collapse{
color :var(--dark);
background-color: #fdf2e9;
display: flex;
justify-content: center;
}
.accordion-button:not(.collapsed) {
color :white;
background-color: var(--mocha);
	}
.my_btn{
	width : 90%;
	height : 40px;
	background-color: #fdf2e9;
	border: none;
	margin : 0 auto;
}	
	
.my_btn{
	height : 40px;
	background-color: #fdf2e9;
	border: none;
	margin: 0 auto;
}
.btn_content{
	border-top: 1px solid var(--mocha);
}

	
@media screen and (min-width: 768px){

.accordion-body{
	width : 99%;
	    display: flex;
        justify-content: center;
}
.btn_content{
	border-left: 1px solid var(--mocha);
	border-top: 0px;
}
}
.myPageContent{
    padding-bottom: 3rem;
    width : 80%;
}


@media screen and (min-width: 1024px){
	.myPageContent{
    padding-bottom: 3rem;
    width : 99%;
}
.mymenu{
	width : 80%;

}
}

