.card-title {
      font-size: 1.1rem;
      font-weight: bold;
    }

    .card-meta {
      font-size: 0.9rem;
      color: #6c757d;
    }

    .qna-wrapper {
      max-width: 1200px;
      margin: auto;
      padding: 1rem;
    }
    
     .pagination .page-link {
    background-color: #c9a383 !important;
    border-color: #c9a383 !important;
    color: #fff !important;
  }

  .pagination .page-link:hover {
    background-color: #b0896b !important;
    border-color: #b0896b !important;
    color: #fff !important;
  }

  .pagination .page-item.active .page-link {
    background-color: #a3765b !important;
    border-color: #a3765b !important;
    color: #fff !important;
  }
  
   .qna-wrapper h3 {
    text-align: center;
    color: #c9a383; /* 모카색 */
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
  .main-nav {
  display: none;
}
@media (min-width: 769px) {
  .main-nav {
    display: flex !important;
  }
}
  

    @media screen and (max-width: 768px) {
      .search-bar input[type="text"],
      .search-bar button,
      .btn-mocha {
        width: 100%;
        margin-top: 5px;
      }

      .d-flex.justify-content-between {
        flex-direction: column;
        gap: 10px;
      }
    }

    .btn-mocha {
      background-color: #c9a383 !important;
      border-color: #c9a383 !important;
      color: #fff !important;
    }

    .btn-mocha:hover {
      background-color: #b0896b !important;
      border-color: #b0896b !important;
      color: #fff !important;
    }