.registerbox{
    width :99vw;
    padding-bottom:5rem;
}
.registerpage{
    width: 99vw;
    height:1000px;
	display:flex;
    justify-content: center;
}
.register_home:hover{
	color:var(--mocha);
}
.register_home{
	color:var(--dark);
}
.brandtext{
    margin-top : 2rem;
	font-size: 50px;
	display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.tcenter{
	margin-bottom:1rem; 
}
.pro_text{
	font-size :20px;
}
.profile{
	display : flex;
    align-items: center;
    flex-direction: column;
}
.form-control{
	width : 200px;
	height : 30px;
	font-size : 15px;
    margin-top : 0.5rem;
    
}

.inputbox{
	width : 99vw;
	display:flex;
	justify-content: center;
	align-items: center;
}
.input_center{
	width : 200px;
	display:flex;
}
.regibtn{
	margin-top:0.5rem;
	background-color: var(--mocha);
	color: white;
	width : 200px;
	height : 30px;
    font-size : 15px;
	padding-top: 0.1rem !important;
}
.btn{
	    margin-top : 0.5rem;
		height : 30px;
}
.regibtn:hover {
	background-color: var(--dark);
	color: white;
}
.input_name{
	margin : 0;
	font-size : 15px;
}

.error_box{
	display:flex;
	justify-content: center;
}
.register_error .regi_error{
	color: red !important;
    font-size: 15px;
}
label {
    color: red !important;
    font-size: 15px;
    margin-top: 2px;
    display: block !important; 
}





@media screen and (min-width: 768px){
.registerbox{
    width : 450px;
    padding-bottom:5rem;
}
.registerpage{
    width: 99vw;

}
.brandtext{
	margin-top : 1rem;
	font-size: 40px;
    padding-top: 2rem;
}
.pro_text{
	font-size : 20px;
}
.form-control{
	margin-top:0.75rem;
	width : 350px;
	height : 40px;
	font-size:16px;
}
.inputbox{
	width : 450px;
}
.tcenter{
	margin-bottom:1rem; 
}
.input_center{
	width : 350px;
}
.regibtn{
	width : 350px;
	height : 40px;
	margin-top: 0.75rem;
	font-size : 16px;
    padding-top: 0.7rem !important;
}
.btn{
	    margin-top : 0.75rem;
		height : 40px;
}
.input_name{
	font-size : 16px;
}

.register_error .regi_error{
    font-size: 14px;
}
label {
    font-size: 14px;
    margin-top: 2px;
}
	
}

@media screen and (min-width: 1024px){
.registerbox{
    width : 450px;
    padding-bottom : 3rem;
    border : 2px solid  var(--dark);
}
.registerpage{
    width: 99vw;
	align-items: center;
}
.btn{
	    margin-top : 0.8rem;
		height : 40px;
}
}
